<ion-tabs>
    <!-- Contenido de los tabs se renderiza aquí automáticamente -->

    <!-- Barra de navegación flotante con efecto glass -->
    <ion-tab-bar slot="bottom">

        <!-- Tab: Dashboard -->
        <ion-tab-button tab="dashboard">
            <i class="fa-solid fa-house"></i>
        </ion-tab-button>

        <!-- Tab: Historial -->
        <ion-tab-button tab="history">
            <ion-icon name="time"></ion-icon>
            <!-- <ion-label>Historial</ion-label> -->
        </ion-tab-button>

        <!-- Tab: Tracking (Center Button) -->
        <ion-tab-button tab="tracking">
            <i class="fa-solid fa-location-arrow"></i>
        </ion-tab-button>

        <!-- Tab: Profile -->
        <ion-tab-button tab="profile">
            <i class="fa-solid fa-user"></i>

        </ion-tab-button>

        <ion-tab-button tab="settings">
            <i class="fa-solid fa-gear"></i>
        </ion-tab-button>

    </ion-tab-bar>
</ion-tabs>